<html>
<title>{{ title }}</title>
<body>
  <h3>{{ heading }} </h3>
  <p>Hello! Welcome to the GUI that aims to make your heap exploitation
  endeavour less painful. Currently, we support only dlmalloc.</p>

  <p>From the many options below, choose the method that you wish to
  employ.</p>

  <ul>
    <li><b>dlmalloc</b></li>
    <ul>
      <li><a href="{{unlink_url}}">Unlink Method</a></li>
      <li><a href="{{frontlink_url}}">Frontlink Method</a></li>
      <li><a href="{{ho_lore_url}}">House of Lore</a></li>
    </ul>
    <li><b>ptmalloc</b></li>
  </ul>

</body>
</html>
